<a href="https://colab.research.google.com/github/AchmadFauziTrinanda/digitalskola_ds11/blob/master/Advanced_Dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Advanced Dataframe**

In [ ]:
import pandas as pd
import numpy as np

import plotly.express as px
import matplotlib.pyplot as plt

#**Read Data**

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/densaiko/data_science_learning/main/dataset/insurance.csv")
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

#**Lambda Function**

In [ ]:
data["bmi_category_lambda"] = data['bmi'].apply(lambda x: "Low BMI" if x < 30 else ("Medium BMI" if x < 50 else "High BMI"))
data.head()

   age     sex     bmi  ...     region      charges bmi_category_lambda
0   19  female  27.900  ...  southwest  16884.92400             Low BMI
1   18    male  33.770  ...  southeast   1725.55230          Medium BMI
2   28    male  33.000  ...  southeast   4449.46200          Medium BMI
3   33    male  22.705  ...  northwest  21984.47061             Low BMI
4   32    male  28.880  ...  northwest   3866.85520             Low BMI

[5 rows x 8 columns]

#**Pivot Table**

In [ ]:
pd.pivot_table(data, index=["bmi_category_lambda"],
               aggfunc={'bmi':['max','min','mean']})

                        bmi
                        max       mean    min
bmi_category_lambda
High BMI             53.130  52.030000  50.38
Low BMI              29.925  25.506426  15.96
Medium BMI           49.060  35.194574  30.00

#**Uppercase Data in SEX, REGION and BMI CATEGORY Columns**

In [ ]:
data[['sex','region','bmi_category_lambda']] = data[['sex','region','bmi_category_lambda']].apply(lambda x:x.str.upper())
data.head()

   age     sex     bmi  ...     region      charges bmi_category_lambda
0   19  FEMALE  27.900  ...  SOUTHWEST  16884.92400             LOW BMI
1   18    MALE  33.770  ...  SOUTHEAST   1725.55230          MEDIUM BMI
2   28    MALE  33.000  ...  SOUTHEAST   4449.46200          MEDIUM BMI
3   33    MALE  22.705  ...  NORTHWEST  21984.47061             LOW BMI
4   32    MALE  28.880  ...  NORTHWEST   3866.85520             LOW BMI

[5 rows x 8 columns]